body {
  background-size: cover;
}
@media only screen 
  and (min-device-width: 200px){
    body {
      height: 10%;
      width: auto;
      background: url('mobile_bg_HD.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-attachment: fixed;
      background-position: 45% 45%;
      background-position: top;
    }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -115px;
      top: 139px;
      width: 230px;
      height: auto;
      /*border: 2px solid red;*/
      }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      height: 100%;
      background: url('mobile_bg_HD.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center; 
      background-position: top;
      }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -115px;
      top: 139px;
      /* width="200" height="153"*/
      width: 200px;
      height: auto;
      /*border: 2px solid red;*/
      }
}
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 360px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      background: url('mobile_bg_HD.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center; 
      background-position: top;
      }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -115px;
      top: 139px;
      width: 230px;
      height: auto;
      /*border: 2px solid red;*/
      }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      height: 100%;
      background: url('mobile_bg_HD.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center; 
      background-position: top;
      }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -115px;
      top: 139px;
      width: 230px;
      height: auto;
      /*border: 2px solid red;*/
      }
}
@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 412px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      height: 100%;
      background: url('mobile_bg_HD.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center; 
      background-position: top;
      }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -115px;
      top: 139px;
      width: 228px;
      height: auto;
      /*border: 2px solid red;*/
      }
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 414px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      height: 100%;
      background: url('mobile_bg_HD.jpg');
      background-repeat: no-repeat;
      background-color: black;
      background-position: center; 
      background-position: top;
      }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -115px;
      top: 139px;
      width: 230px;
      height: auto;
      /*border: 2px solid red;*/
      }
}
@media only screen 
  and (min-device-width: 415px) 
  and (max-device-width: 1080px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {
      background: url('desktop_bg_HD.jpg');
      background-repeat: no-repeat;
      background-color: black;
      background-position: center; 
      background-position: top;
    }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -265px;
      top: 330px;
      width: 530px;
      height: auto;
      /*border: 2px solid red;*/
      }
}
@media only screen 
  and (min-device-width: 415px){
    body {
      background: url("desktop_bg_HD.jpg");
      background-repeat: no-repeat;
      background-color: black;
      background-position: center; 
      background-position: top;
    }
    .loadframe {
      position: absolute;
      left: 50%;
      margin-left: -265px;
      top: 330px;
      width: 534px;
      height: auto;
      /*border: 2px solid red;*/
      }
    .gamecave {
      position: absolute;
      left: 50%;
      margin-left: -779px;
      top: 207px;
      width: 200px;
      height: 190px;
      transform: rotate(11deg);
      /*border: 2px solid red;*/
      
    }
    .gamecave:hover {
      position: absolute;
      left: 50%;
      margin-left: -770px;
      top: 212px;
      width: 200px;
      height: 190px;
      transition: transform .1s;
      transform: scale(0.5);
      opacity: 1.3;
      background: url("back_gc.png");
      transform: rotate(12deg);
    }
    .quixotic {
      position: absolute;
      left: 50%;
      margin-left: -323px;
      top: 77px;
      width: 647px;
      height: 139px;
      /*border: 2px solid red;*/
    }
      .quixotic:hover {
      position: absolute;
      left: 50%;
      margin-left: -328px;
      top: 77px;
      width: 647px;
      height: 139px;
      background: url("back_q.gif");
      background-color: black;
    }
    .hviolence {
      position: absolute;
      right: 50%;
      margin-right: -790px;
      top: 27px;
      width: 429px;
      height: 656px;
      /*border: 2px solid red;*/
    }
    .hviolence:hover {
      position: absolute;
      right: 50%;
      margin-right: -775px;
      top: 29px;
      width: 429px;
      height: 681px;
      background: url("back_hviolence.png")
    }
    .mihaszna {
      position: absolute;
      right: 50%;
      margin-right: -890px;
      top: 695px;
      width: 405px;
      height: 100px;
      border-radius: 100px;
      /*border: 2px solid red;*/
    }
    .mihaszna:hover {
      position: absolute;
      right: 50%;
      margin-right: -890px;
      top: 677px;
      width: 425px;
      height: 160px;
      background: url("back_mihaszna.png");
    }
    .balposzter {
      position: absolute;
      left: 50%;
      margin-left: -943px;
      top: 370px;
      width: 400px;
      height: 628px;
      transform: rotate(-5deg);
      /*border: 2px solid red;*/
    }
    .balposzter:hover {
      position: absolute;
      left: 50%;
      margin-left: -947px;
      top: 355px;
      width: 417px;
      height: 658px;
      transform: rotate(0deg);
      background: url("back_balposzter.png");
    }
    .hidden {
      position: absolute;
      left: 50%;
      margin-left: -553px;
      top: 950px;
      width: 104px;
      height: 90px;
      transform: rotate(18deg);
      /*border: 2px solid red;*/
    }
    .hidden:hover {
      position: absolute;
      left: 50%;
      margin-left: -562px;
      top: 950px;
      width: 124px;
      height: 100px;
      transform: rotate(0deg);
      background: url("back_hidden.png");
    }
    .sonny5 {
      position: absolute;
      right: 50%;
      margin-right: -530px;
      top: 695px;
      width: 169px;
      height: 63px;
      border-radius: 100px;
      transform: rotate(-17deg);
      /*border: 2px solid red;*/
    }
    .sonny5:hover {
      position: absolute;
      right: 50%;
      margin-right: -530px;
      top: 680px;
      width: 169px;
      height: 100px;
      border-radius: 1px;
      transform: rotate(0deg);
      background: url("back_sonny5.png");
    }
}
/*
body {
  background-image: url("back.jpg");
}
.loadframe {
position: absolute;
  left: 680px;
  top: 320px;
  width: 545px;
  height: 413px;
  border: 2px solid red;
}*/
